html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.prev {
  left: 0;
  z-index: 1;
}

.next {
  right: 0;
  z-index: 2;
}

.indicators {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  height: 4px;
}

.indicator {
  position: absolute;
  width: calc(100% / var(--slide-count, 1));
  height: 100%;
  background-color: #484848;
  left: 0;
  top: 2px;
  transition: transform 0.3s ease;
  will-change: transform;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  margin: 20px;

  /* No selectable text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.slider-wrapper:focus {
  outline: 2px solid #484848;
  outline-offset: 2px;
}

.slider {
  display: grid;
  grid-template-columns: repeat(var(--max-slides-in-dom, 3), 1fr);
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 5 / 7;
  perspective: 100px;
}

.item {
  position: absolute;
  display: flex;
  width: 100%;
  transition: transform 0.3s ease;
  transform: translateX(0);
  transform-origin: bottom;
  will-change: transform;
}

.slide-prev {
  transform: translateX(-100%) scale(0.8);
}

.slide-next {
  transform: translateX(100%) scale(0.8);
}

@media (prefers-reduced-motion: reduce) {
  .item,
  .indicator {
    transition: none;
  }
}
